<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增CC码')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-commodity-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Commodity code.：</label>
                <div class="col-sm-8">
                    <input name="commodityId" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Set to COMMODITY_NO to fake uniqueness of the Commodity Code. Set to 0 for approved Commodities enforce uniqueness.：</label>
                <div class="col-sm-8">
                    <input name="fakeUnique" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">System id of catalogue.：</label>
                <div class="col-sm-8">
                    <input name="catalogNo" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">System id of class for this commodity (and its parts).：</label>
                <div class="col-sm-8">
                    <input name="commodityClassNo" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Method used to define this Commodity (1 = Generated, 2 = UserDefined, 3 = UserDefinedPartNumber, 4 = SubCode).：</label>
                <div class="col-sm-8">
                    <input name="defMethodNo" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Whether datasheet required (1 = True, 0 = False).：</label>
                <div class="col-sm-8">
                    <input name="datasheetReqd" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Whether part numbers for this Commodity may appear on requisitions (and other formal project reports) .(1 = True, 0 - False).：</label>
                <div class="col-sm-8">
                    <input name="prntPartNo" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">The unit of measure for the quantity of this commodity (e.g. whether it is purchased by length or by number off).：</label>
                <div class="col-sm-8">
                    <input name="unitId" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Legacy commodity code.：</label>
                <div class="col-sm-8">
                    <input name="commodityCodeOrig" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Approval status of Commodity (1 =  Working, 2 = Approved).：</label>
                <div class="col-sm-8">
                    <input name="approvalStatusNo" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Whether this part is obsolete. (1 = Active, 0 = Obsolete).：</label>
                <div class="col-sm-8">
                    <input name="stat" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Initials for person defining the COMMODITY.：</label>
                <div class="col-sm-8">
                    <input name="defUsrId" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Definition date.：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="defDate" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Initials for person latest updating the COMMODITY.：</label>
                <div class="col-sm-8">
                    <input name="updUsrId" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Latest update date.：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="updDate" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Unique id of the spec entry：</label>
                <div class="col-sm-8">
                    <input name="specEntryNo" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/commodity"
        $("#form-commodity-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-commodity-add').serialize());
            }
        }

        $("input[name='defDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='updDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>